<nav class="navbar">
  <ul>
    <li><a href="/home" class="<%= activePage === 'home' ? 'active' : '' %>">Home</a></li>
    <li><a href="/artists" class="<%= activePage === 'artists' ? 'active' : '' %>">Artists</a></li>
    <li><a href="/profile" class="<%= activePage === 'profile' ? 'active' : '' %>">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
